input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    overflow:hidden;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--c-background);
    height: 1.5rem;
    overflow:hidden;
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {
    background: var(--c-background);
    height: 1.5rem;
    overflow:hidden;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: 0px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: var(--c-accentmain);
    border: 2px solid var(--c-buttonback);
    box-shadow: -407px 0 0 400px var(--c-buttonback);
}
input[type="range"]::-moz-range-thumb {
    margin-top: -2px;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background: var(--c-accentmain);
    border: 2px solid var(--c-buttonback);
}

.settings-button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12pt;
    background-color:var(--c-subback);
    margin: 0px 10px 0px 0px;
}
.settings-button:last-of-type {
    margin:0px;
}

.settings-button:hover {
    background-color:var(--c-buttonback);
    cursor: pointer;
}

.warning-button:hover {
    background-color:rgb(197, 85, 85);
    color: rgb(63, 25, 28);
}

.warning-block {
    padding: 10px 15px;
}

.rel {
    position:relative;
}

.big-sprite {
    position: absolute;
    opacity:0.5;
    top:10rem;
    right: 10rem;
    height: 18rem;
}
.form-container {
    margin: 5rem 20rem;
    display: flex;
    flex-direction: column;

}
.form-line {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}



.text-field {
    width:60%;
    height:3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    color: var(--c-maintext);
    border: none;
    background-color: var(--c-background) !important;
    padding: 0px 4px;
}
.text-field:focus {
    outline: none;
    box-shadow: none;
    padding: 0px 2px;
    border: 2px solid var(--c-maintext);
}
input[type='reset'] {
    background-color: #00000000;
    font-size: 1.5rem;
    color: var(--c-buttonbackh);
    outline:none;
    border:none;
    padding:0px;
}

input[type='reset']:hover {
    cursor: pointer;
    color: var(--c-maintext);
    text-decoration: underline;
}