.inventory-body {
    width: 3rem;
    height: 100%;
    flex-grow: 1;
    background-color: var(--c-accentmain);
}
.inven-section {
    border-top: 1px var(--c-maintext) solid;
    padding: 5px 5px 5px 0px;
    width:100%
}
.inven-item {
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1px 5px;
}
.inven-item:nth-child(even) {
    background-color: var(--c-background);
}
.sellable:hover {
    cursor:pointer;
    transition: background-color ease-in 0.1s;
    background-color: var(--c-background);
}
.sellable:nth-child(even):hover {
    cursor:pointer;
    transition: background-color ease-in 0.1s;
    background-color: var(--c-subback);
}
.inventory-top{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
h2{
    display: inline
}
.equip-button {
    font-size: 1.4rem;
    padding: 0px 5px;
    background-color: var(--c-background);
    border-radius: 5px;
}
.equip-button:hover {
    cursor:pointer;
    transition: background-color ease-in 0.1s;
    background-color: var(--c-subback);
}