.display-body {
    overflow: hidden;
    height: 37.5rem;
    padding: 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    position: relative;
    background-color: var(--c-accentmain);
}
.background {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 60rem;
    height: 37.5rem;
}
.overlay {
    z-index: 2;
    position: absolute;
    width: 18rem;
    height: 22.5rem; 
}
.qte-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 30rem;
    width: 25rem;
}

.qte {
    position:absolute;
    z-index: 2;
    width: 16rem;
    height: 16rem;
}
.qte-ring {
    top: 5rem;
    left:22rem;
    mask-size: 16rem;
    width: 16rem;
    height: 16rem;
    z-index: 2;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.qte-area {
    mask-size: 16rem;
    width: 16rem;
    mask-image: url("../0assets/misc/qte_circle.png");
}
.qte-progress {
    position: absolute;
    top: 25rem;
    left: 18rem;
    height: 2.2rem;
    width: 25rem;
}
.qte-fish {
    position: absolute;
    top: 25rem;
    height: 2.2rem;
}


.item {
    z-index: 2;
    position: absolute;
    height: 10rem;
}
.shop-list {
    display:flex;
    justify-content: space-between;
    padding: 8rem 10rem;
    flex-direction: row;
    gap: 7px;
}
.shop-listing {
    display:flex;
    color: var(--c-accentmain);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.288);
    border: solid 3px rgba(255, 255, 255, 0.2);
    z-index: 2;
    width: 12rem;
}
.shop-listing:hover {
    border: solid 3px rgba(255, 255, 255, 0.4);
}
.shop-item {
    width: 7rem;
    margin: 0px 0px 10px;
}
.buy-button {
    font-weight:bolder;
    border: 2px solid var(--c-maintext);
    color: var(--c-maintext);
    width: 5rem;
    margin: 7px 0px 0px;
    background-color: var(--c-subback);
}
.buy-button:hover {
    cursor:pointer;
    color: var(--c-maintext);
    width: 5rem;
    background-color: var(--c-buttonback);
}
.unavailable {
    pointer-events: none;
    background-color: var(--c-maintext);
    color: var(--c-accentmain)
}
.center-items {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.travel-list {
    z-index:2;
    width:90%;
    gap: 20px;
    display:flex;
    flex-direction:column;
    justify-content: baseline;
}

.travel-option {
    height: 3rem;
    align-self: start;
}

.cango:hover {
    filter:
        brightness(50%);
    cursor: pointer;
}