html {
    --c-background: #c5dbf0;
    --c-subback: #98bae6;
    --c-maintext: #41476e;
    --c-accentmain: #eef4fa;
    --c-buttonback: #8499d3;
    --c-buttonbackh: #717dc0;
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-background);
    align-items: center;
    color: var(--c-maintext);
}

button {
    color: var(--c-maintext);
    border: none;
    transition: stroke, fill, color, background-color  0.1s ease-in;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  .rounded {
    border-radius: 10px;
    padding: 10px;
  }
  .pixel {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.line-spaced {
    margin: 1rem 0rem;
}

.App {
    margin: auto;
    width: 87.5rem;
}

.page-body {
    padding: 0px 15px;
}
.section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px 0px 10px;
}
.textstuff {
    height: 12rem;
}
.gamestuff {
    height: 50rem;
}
.gamestack {
    width: 60rem;
    height: 50rem;
    flex-direction: column;
}
.nongame {
    background-color:var(--c-accentmain);
    width: 84.5rem;
}
@media screen and (max-width: 1000px) {
    
}
h1, h2, h3 {
    margin: 0px;
}